.button{
    padding: 15px 85px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    border-radius: 15px;
    border:none;
    background-color: #0D0D0D;
    color:#F2F2F2;
}

.button:hover{
    cursor: pointer;
    background-color: #1d1d1d;
}

.cor1{
    background-color: #4F5259;
    color:#F2F2F2
}

.cor1:hover{
    background-color: #35373b;
}

.cor2{
    background-color: rgb(233, 191, 52);
}

.cor2:hover{
    background-color: rgb(189, 130, 22);
}

.cor3{
    background-color: rgb(72, 136, 189);
}

.cor3:hover{
    background-color: rgb(41, 99, 146);
}

@media(max-width: 600px){
    .button{
        width: 300px;
    }
}