.button{
    padding: 15px 85px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    border-radius: 15px;
    border:none;
    background-color: rgb(57, 160, 31);
}

.button:hover{
    cursor: pointer;
    background-color: rgb(41, 128, 19);
}

.red{
    background-color: rgb(226, 47, 47);
}

.red:hover{
    background-color: rgb(194, 32, 32);
}

.yellow{
    background-color: rgb(233, 191, 52);
}

.yellow:hover{
    background-color: rgb(189, 130, 22);
}

.blue{
    background-color: rgb(72, 136, 189);
}

.blue:hover{
    background-color: rgb(41, 99, 146);
}