@import '../../styles/styles.css';

.button{
    padding: 15px 85px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    border-radius: 15px;
    border:none;
    background-color: var(--cor-primaria);
    color:var(--cor-texto);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.button:hover{
    cursor: pointer;
    background-color: var(--cor-fundo2);
}

.cor1{
    background-color: var(--cor-primaria);
    color:var(--cor-texto)
}

.cor1:hover{
    background-color: var(--cor-primaria-hover);
}

.cor2{
    background-color: rgb(233, 191, 52);
}

.cor2:hover{
    background-color: rgb(189, 130, 22);
}

.cor3{
    background-color: rgb(72, 136, 189);
}

.cor3:hover{
    background-color: rgb(41, 99, 146);
}

@media(max-width: 600px){
    .button{
        width: 300px;
    }
}
