

/* Cores - css   */

:root{

--cor-primaria: #ff882eea;
--cor-primaria-hover:#db6a14ea;
--cor-texto: #f2f2f2;
--cor-fundo: #222831;
--cor-fundo2: #373d46;

--cor-cabecalho: #393e46;

--cor-card: #393e46;
--cor-fundo-card: #393e46;

}