

/* Cores - css   */

:root{

--cor-primaria: #5c5c5c;
--cor-primaria-hover:#424242;
--cor-texto: #F2F2F2;
--cor-fundo: #181818;
--cor-fundo2: #272727;

--cor-cabecalho: #5a5a5a;

--cor-card: #858585;
--cor-fundo-card: #494544;

}