

/* Cores - css   */

:root{

--cor-primaria: #6dbd89;
--cor-primaria-hover:#489964;
--cor-texto: #feffdf;
--cor-fundo: #307f92;
--cor-fundo2: #668ba4;

--cor-cabecalho: #97cba9;

--cor-card: #97cba9;
--cor-fundo-card: #97cba9;

}