@import '../../styles/styles.css';


.section_firstPage{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:3.5%;
}

.section_firstPage h1{
    font-size: 40px;
    margin-bottom: 4%;
}

.section_firstPage a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size:20px;
    color:var(cor-texto);
    background-color: var(--cor-primaria);
    width: 100%;
    height: 50px;
    margin: 15px 5%;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.section_firstPage a:hover{
    background-color:var(--cor-primaria-hover);
}

.div_links{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 38%;
    
}

@media ( max-width:600px){
    .section_firstPage {
        text-align: center;
    }

    .section_firstPage h1 {
        font-size: 23px;
        margin-top: 3%;
    }

    .section_firstPage a {
        width: 300px;
    }
}
