@import '../../styles/styles.css';

.section_editarItem{
    display:flex;
    justify-content: center;
    margin-top: 5%;
}

div.div_editarItem{
    border:2px solid var(--cor-primaria);
}

.div_editarItem{
    background-color: var(--cor-card);
    width: 80%;
    height: 600px;
    border-radius: 15px;
    display:flex;
    flex-direction:column;
    align-items: center;

    padding: 15px;
}

div.div_editarItem{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.div_editarItem h1{
    font-size: 30px;
    padding: 20px;
    margin-bottom: 30px;
}

.div_editarItem input{
    width: 80%;
    height: 25px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color:#0c0c0c;
    justify-content: center;
    margin-bottom:15px ;
}

.div_editarItem label{
    padding: 10px;
    font-size: 20px;
}

.div_editarItem .a, .b{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width:600px) {
    .div_editarItem{
        width: 95%;
        text-align: center;
    }
    
    .div_editarItem input{
        width: 100%;
    }
}
