@import '../../styles/styles.css';


.section_form{
    display:flex;
    justify-content: center;
    margin-top: 50px;
}

.form{
    background-color: var(--cor-primaria);
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    height: 600px;
    border-radius: 15px;
}

.form h1{
    margin: 30px;
    font-size: 30px;
}

.form label{
    padding: 10px;
    font-size: 20px;
}

.form input{
    width: 80%;
    height: 28px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    margin-bottom:15px ;
}

.form label{
    color:var(cor-texto);
    font-family: 'Poppins', sans-serif;
}

.divs_checkbox{
    display:flex;
    align-items: center;
    margin: 10px;
}

.divs_checkbox .a, .divs_checkbox .b{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.divs_checkbox input{
    width: 40px;
}

.section_list{
    display:flex;

    justify-content: center;
}
.itens_list{
    margin:5%;
    background-color: var(--cor-primaria);
    width: 85%;
    height: 100%;
    border-radius: 15px;
    padding: 15px;
    display:flex;
    justify-content: center;
}

tr{
    border:1px solid var(cor-texto);
    padding: 10px;
}

td{
    border:1px solid #111111;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
th{
    height: 50%;
}

.table__{
    color:aliceblue;
    width: 90%;
    font-family: 'Poppins', sans-serif;
}

.btn_erro{
    color:rgb(255, 120, 66);
}

.btn_erro:hover{
    cursor:pointer;
    color:rgb(238, 100, 46);
}

.editar{
    color:#1397d4;
}
.editar:hover{
    color:#0d79ac;
}

td a{
    color:#f1a5a5;
    text-decoration: none;
}

td a:hover{
    color:#cc7e7e;
}

.nome_game{
    background-color:var(--cor-primaria);
    width: 65%;
    border-radius: 15px;
    display:flex;
    flex-direction: column;
}

@media ( max-width:600px){
    .form{
        width: 98%;
    }

    .itens_list{
        width: 98%;
        margin:4px
    }

    .table__ tr, .table__ td, .table__ th{
        font-size: 10px;
        text-align: center;
        padding: 15px
    }
}
