@import '../../styles/styles.css';


.section_form{
    display:flex;
    justify-content: center;
    margin-top: 50px;
    
}


.form{

    display:flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    height: 600px;
    margin-bottom: 30px;
    border-radius: 15px;
    
}

div.form{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: var(--cor-card);
    border:2px solid var(--cor-primaria);
    
}

.form h1{
    margin: 30px;
    font-size: 30px;
}

.form label{
    padding: 10px;
    font-size: 20px;
}

.form input{
    width: 90%;
    height: 35px;
    padding-left: 1rem  ;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    margin-bottom:15px ;
    background-color: #ffffff;
    border:2px solid var(--cor-primaria);
    border-radius: 32px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


.radioInput{
    all:unset;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: rgb(0, 0, 0) 1.95px 1.95px 2.6px;

}

.radioInput:checked{
    background-color: #141414;
}

.form label{
    color:var(cor-texto);
    font-family: 'Poppins', sans-serif;
}

.divs_checkbox{
    display:flex;
    align-items: center;
    margin: 10px;
}

.divs_checkbox .a, .divs_checkbox .b{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.divs_checkbox input{
    width: 35px;
}

.section_list{
    display:flex;

    justify-content: center;
}
.itens_list{
    margin:5%;
    background-color: var(--cor-card);
    width: 85%;
    height: 100%;
    border-radius: 15px;
    padding: 15px;
    display:flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border:2px solid var(--cor-primaria);
}

tr{
    border:1px solid var(cor-texto);
    padding: 10px;
    background-color: #393e46;
}

td{
    border:2px solid var(--cor-primaria-hover);
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
th{
    height: 50%;
}

.table__{
    color:aliceblue;
    width: 90%;
    font-family: 'Poppins', sans-serif;
}

.btn_erro{
    background: none;
    border:none;
    font-size: 15px;
    text-decoration: none;
    color:rgb(240, 92, 82);
}

.btn_erro:hover{
    cursor:pointer;
    color:rgb(146, 34, 0);
}

.editar{
    color:#3a74f0;
}
.editar:hover{
    color:#022e42;
}

td a{
    color:#d66969;
    text-decoration: none;
}

td a:hover{
    color:#ff6b6b;
}

.nome_game{
    background-color:var(--cor-primaria);
    width: 65%;
    border-radius: 15px;
    display:flex;
    flex-direction: column;
}

@media ( max-width:600px){
    .form{
        width: 98%;
    }

    .itens_list{
        width: 98%;
        margin:4px
    }

    .table__ tr, .table__ td, .table__ th{
        font-size: 10px;
        text-align: center;
        padding: 15px
    }
    .btn_erro{
        font-size: 10px;
    }

    .itens_list{
        width:100%
    }
}
